*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}

.flex
{
    display: flex;
}
body .container .header .item
{   
    height: 700px;
    width: 500px;
}
body .container .header .item
{
    height: 300px;
    width: 500px;
    background-image: url(bg.jpg);
}